stow/.vim/backup/*
stow/.vim/undo/*
stow/.vim/swap/*
stow/.vim/.netrwhist
stow_vim_plugins/.vim/plugged/**
stow_vim_plugins/.tmux/plugins/**
stow_vim_plugins/.packages/*
stow_vim_plugins/.fzf
stow_vim_plugins.tar.gz
.DS_Store
**/.DS_Store
**.DS_Store
stow/.emacs~
stow/.emacs.d/recentf
stow/.emacs.d/recentf~
stow/.emacs.d/history
stow/.emacs.d/auto-save-list/*
*.el~
stow/.emacs.d/transient/history.el
stow/.emacs.d/elpa/*
stow/.emacs.d/eshell/history
stow/.emacs.d/\#init.el\#
stow/.emacs.d/.\#init.el
stow/.emacs.d/eshell/*
stow/.emacs.d/data/minimal-session-saver/minimal-session-saver-data.el
stow/.emacs.d/places
**~
stow/.emacs.d/server/server
stow_vim_plugins/.emacs.d/elpa
stow/.emacs.d/.org-id-locations
stow/.emacs.d/projectile-bookmarks.eld
stow/.emacs.d/projectile.cache
**#
*.#.*
stow/.emacs.d/request/curl-cookie-jar
tmp/*
/TAGS
stow/.emacs.d/async-bytecomp.log
stow/.bash_history
stow/.gitconfig
stow/.gitconfig
stow/.gitconfig
