stow/.vim/backup/*
stow/.vim/undo/*
stow/.vim/swap/*
stow/.vim/.netrwhist
stow_vim_plugins/.vim/plugged/**
stow_vim_plugins/.tmux/plugins/**
stow_vim_plugins/.packages/*
stow_vim_plugins/.fzf
stow_vim_plugins.tar.gz
.DS_Store
**/.DS_Store
stow/.emacs.d/recentf
stow/.emacs.d/recentf~
stow/.emacs.d/history
stow/.emacs.d/auto-save-list/.saves-17384-UHIN-LT-142~
*.el~
stow/.emacs.d/transient/history.el
stow/.emacs.d/elpa
