
**#
**.DS_Store
**/.DS_Store
**~
*.#.*
*.el~
.DS_Store
/TAGS
/stow/.scripts/OPENAI_API_KEY.bash
/stow_my_emacs/.emacs.d/.#init.el
/stow_my_emacs/.emacs.d/.org-id-locations
/stow_my_emacs/.emacs.d/elpa/
/stow_my_emacs/.emacs.d/history
/stow_my_emacs/.emacs.d/places
/stow_my_emacs/.emacs.d/projectile-bookmarks.eld
/stow_my_emacs/.emacs.d/recentf
/stow_my_emacs/.emacs.d/transient/
*/.emacs.d/straight
*/.emacs.d/emojione*
stow/.bash_history
stow/.emacs.d/.\#init.el
stow/.emacs.d/.org-id-locations
stow/.emacs.d/\#init.el\#
stow/.emacs.d/async-bytecomp.log
stow/.emacs.d/auto-save-list/*
stow/.emacs.d/data/minimal-session-saver/minimal-session-saver-data.el
stow/.emacs.d/elpa/*
stow/.emacs.d/emojis/emojione-v2.2.6-22/*
stow/.emacs.d/eshell/*
stow/.emacs.d/eshell/history
stow/.emacs.d/history
stow/.emacs.d/places
stow/.emacs.d/projectile-bookmarks.eld
stow/.emacs.d/projectile.cache
stow/.emacs.d/recentf
stow/.emacs.d/recentf~
stow/.emacs.d/request/curl-cookie-jar
stow/.emacs.d/server/server
stow/.emacs.d/transient/history.el
stow/.emacs~
stow/.git-for-windows-updater
stow/.gitconfig
stow/.gitconfig
stow/.gitconfig
stow/.vim/.netrwhist
stow/.vim/backup/*
stow/.vim/swap/*
stow/.vim/undo/*
stow/_viminfo
stow/vimfiles/.netrwhist
stow_vim_plugins.tar.gz
stow_vim_plugins/.emacs.d/elpa
stow_vim_plugins/.fzf
stow_vim_plugins/.packages/*
stow_vim_plugins/.tmux/plugins/**
stow_vim_plugins/.vim/plugged/**
tmp/*
stow/.emacs.d/.cache/treemacs-persist
stow/.emacs.d/var/pcache/unicode-fonts
stow/.emacs.d/var/pcache/ucs-utils
/stow/.emacs.d/.mc-lists.el
/stow/.emacs.d/bookmarks
stow/.emacs.d/newsticker/feeds/Emacs Wiki/data
stow/.emacs.d/.persistent-scratch
/stow_my_emacs/.emacs.d/my-packages/open-ai-api-key.el

tags
/stow_my_emacs/.emacs.d/init.el.orig
/emacs/.emacs.d/.#init.el
pathogen.vim
