[pull]
	merge = true
	rebase = false
[merge]
	tool = vimdiff
[user]
	name = Raveen Kumar
	email = raveen.srk.kumar@gmail.com
[maintenance]
	repo = ~/my_repos/dotfiles-main
	repo = /zfs_inter_data/home/rkumar/my_repos/dotfiles-main
[alias]
	staash = stash --all
[rerere]
	enabled = true
