$include /etc/inputrc

"TAB": menu-complete               
"\e[A":history-search-backward     
"\e[B":history-search-forward

$if Bash
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
"\C-x\"": "\"\C-b\""
"\C-xr": re-read-init-file
"\C-xx": "sync_everything\n"
"\C-xl": "\C-e | less\n"
"\C-xh": "\C-e --help | less\n"
"\C-xf": "\C-af \C-e\n"
"\C-xb": "\C-z bg\n"
$endif


$if mode=vi
    set keymap vi-command
    "q": end-of-file
$endif


set bell-style visible
set blink-matching-paren On
set colored-completion-prefix On
set colored-stats On
set completion-display-width -1
set completion-ignore-case On
set completion-map-case On
set completion-prefix-display-length 1
set completion-query-items 50
set editing-mode vi
# set expand-tilde On
set history-preserve-point On
set history-size 1000
set horizontal-scroll-mode Off
set keymap vi
set menu-complete-display-prefix On 
set print-completions-horizontally On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set show-mode-in-prompt Off
set skip-completed-text On
set vi-cmd-mode-string (:)
set vi-ins-mode-string (+)
set match-hidden-files Off
