$include  /etc/inputrc

set completion-map-case On
set colored-stats On
set completion-display-width -1
set bell-style visible
# set editing-mode vi
# set keymap vi
# set vi-cmd-mode-string (:)
# set vi-ins-mode-string (+)
# set editing-mode emacs
# set keymap emacs
set show-mode-in-prompt On
set skip-completed-text On
set show-all-if-ambiguous On
set completion-ignore-case On
set menu-complete-display-prefix On # Perform partial completion on the first Tab press, only start cycling full results on the second Tab press
"TAB": menu-complete # If there are multiple matches for completion, Tab should cycle through them
"\e[A":history-search-backward # Cycle through history based on characters already typed on the line
"\e[B":history-search-forward
Control-o: "> output"

$if Bash
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
"\C-x\"": "\"\C-b\""
"\C-xr": re-read-init-file
"\C-xx": ",sync.bash\n"
"\C-xd": "zzz\n"
"\C-xc": "cd ~/my_repos/dotfiles-main\nmake install_colemak\n"
"\C-xo": "xdg-open . &\n"
$endif
