$include  /etc/inputrc

set completion-map-case On
set colored-stats On
set colored-completion-prefix on
set colored-completion-prefix On
set completion-display-width -1
set bell-style visible
# set editing-mode vi
# set keymap vi
# set vi-cmd-mode-string (:)
# set vi-ins-mode-string (+)
set show-mode-in-prompt On
set skip-completed-text On
set show-all-if-ambiguous On
set completion-ignore-case On
set menu-complete-display-prefix On # Perform partial completion on the first Tab press, only start cycling full results on the second Tab press
"TAB": menu-complete # If there are multiple matches for completion, Tab should cycle through them
"\e[A":history-search-backward # Cycle through history based on characters already typed on the line
"\e[B":history-search-forward
Control-o: "> output"

$if Bash
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
"\C-x\"": "\"\C-b\""
"\C-xr": re-read-init-file
"\C-xx": "sync_everything\n"
"\C-xl": "\C-e | less\n"
"\C-xh": "\C-e --help | less\n"
"\C-xf": "\C-af \C-e\n"
"\C-xb": "\C-z bg\n"
",h": "--help | less"
$endif
